<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/static/css/index.css">
  <title>insta485</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="background-color:rgb(245, 243, 248);">
  <!--Top of the page hyperlinks-->

  <nav class="navbar navbar-light" style="overflow: hidden;
    background-color: #333;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 3cm;
    color: rgb(245, 243, 248);
    width: 100%;">
    <div class="topnav-left">
      <a href="/"><img src="/uploads/instaLogo.png" height="60" width="60"
          alt="Picture of a simplified camera (Instagram logo)"></a>
      <span class="topnav-Company">Outagram</span>
    </div>
    <div class="topnav-right">
      <span class="button">
        <a href="/explore/">explore</a>
      </span>
      <span class="button">
        <a href="/users/{{ logname }}/">{{ logname }}</a>
      </span>
    </div>
  </nav>

  <hr class="new" style="width: 95%;">

  {{ logname }}

  <!-- DO NOT CHANGE THIS -->
  <form action="/accounts/?target=/accounts/create/" method="post" enctype="multipart/form-data">
    <input type="submit" name="delete" value="confirm delete account" />
    <input type="hidden" name="operation" value="delete" />
  </form>

</body>

</html>